<div ng-include="'views/inc/map.html'"></div>
<!--        
  <div id="content">
    <div class="modal">
      <div class="title">Sign Up</div>
        <span class="close">&times;</span>
        <form class="content">
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
        <input type="text" placeholder="E-mail" />
        <input type="password" placeholder="Password" />
        </form>
    </div>
  </div>
-->
<div id="sidebar">
            <h2><i class="fa fa-building-o"></i> Agency Details</h2>
            <div class="media-wrapper">
                <div class="media">
                    <i class="fa fa-list-alt img"></i>
                    <div class="bd">
                        Bureau of Fire Protection
                    </div>
                </div>
                <div class="media">
                    <i class="fa fa-map-marker img"></i>
                    <div class="bd">
                        Batanganes City
                    </div>
                </div>
                <div class="media">
                    <i class="fa fa-envelope img"></i>
                    <div class="bd">
                        bfp_bc@yahoo.com
                    </div>
                </div>
                <div class="media">
                    <i class="fa fa-phone img"></i>
                    <div class="bd">
                        665 12 58
                    </div>
                </div>
            </div>
            
            <h2>
                <i class="fa fa-briefcase"></i>
                Resources
                <a class="pull-right icon-button" href="#"><i class="fa fa-plus-circle"></i></a>
            </h2>
            <div class="media-wrapper wide units">
                <div class="media">                
                    <select class="icon-select img">
                        <option>&#xf007;</option>
                        <option>&#xf0c0;</option>
                        <option>&#xf0d1;</option>
                        <option>&#xf0f9;</option>
                        <option>&#xf0d6;</option>
                        <option>&#xf0f5;</option>
                        <option>&#xf004;</option>
                        <option>&#xf043;</option>
                        <option>&#xf0a1;</option>
                        <option>&#xf134;</option>
                        <option>&#xf13d;</option>
                        <option>&#xf0ad;</option>
                        <option>&#xf072;</option>
                        <option>&#xf15c;</option>
                        <option>&#xf0e3;</option>
                        <option>&#xf0e7;</option>
                        <option>&#xf0f7;</option>
                        <option>&#xf0fa;</option>
                        <option>&#xf06c;</option>
                        <option>&#xf02d;</option>
                    </select>
                    <div class="bd">
                        <input type="number" min="0" class="line-input" placeholder="No." />
                        <input type="text" class="line-input unit-name" placeholder="Name" />
                        <a class="save pull-right icon-button" href="#"><i class="fa fa-check-circle"></i></a>
                    </div>
                </div>
            </div>

            <h2>
                <i class="fa fa-certificate"></i>
                Deployments
            </h2>
            <div class="media-wrapper">
                <div class="media">
                    <i class="fa fa-file-o img"></i>
                    <div class="bd">
                        <a href="#">Fire at Tangono, Risal</a>
                    </div>
                </div>
                <div class="media">
                    <i class="fa fa-file-o img"></i>
                    <div class="bd">
                        <a href="#">Vehicular Accident at Markino Highway</a>
                    </div>
                </div>
                <div class="media">
                    <i class="fa fa-file-o img"></i>
                    <div class="bd">
                        <a href="#">Epidemic aat Sitio Ngulongod</a>
                    </div>
                </div>
                <div class="media">
                    <i class="fa fa-file-o img"></i>
                    <div class="bd">
                        <a href="#">Flood at Sitio Batumbuhalani</a>
                    </div>
                </div>
            </div>
        </div>

        <span id="sidebar-toggle">
            <i class="fa fa-chevron-left"></i>
        </span>

        <header>
            <img class="logo" src="images/logo.png" alt="Alisto.PH">
            <input id="pac-input" type="text"
                   placeholder="Enter location">
            <ul class="menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Agency</a></li>
                <li>
                    <a href="#">
                        Log out
                    </a>
                </li>
                <li>
                    <button>
                        <i class="fa fa-bullhorn"></i>
                        Report Incident
                    </button>
                </li>
            </ul>
        </header>