<div ng-include="'views/inc/map.html'"></div>
<!--        
  <div id="content">
    <div class="modal">
      <div class="title">Sign Up</div>
        <span class="close">&times;</span>
        <form class="content">
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
        <input type="text" placeholder="E-mail" />
        <input type="password" placeholder="Password" />
        </form>
    </div>
  </div>
-->

<div id="sidebar">
    <h2><i class="fa fa-user"></i> Profile Details</h2>
    <div class="media-wrapper">
        <div class="media">
            <i class="fa fa-list-alt img"></i>
            <div class="bd">
                Aaron Noel De Leon
            </div>
        </div>
        <div class="media">
            <i class="fa fa-map-marker img"></i>
            <div class="bd">
                Taytay, Rizal
            </div>
        </div>
        <div class="media">
            <i class="fa fa-envelope img"></i>
            <div class="bd">
                hello@nelonoel.com
            </div>
        </div>
        <div class="media">
            <i class="fa fa-phone img"></i>
            <div class="bd">
                0916 837 5550
            </div>
        </div>
    </div>
    <!--            <button class="block">
                    <i class="fa fa-save"></i> Submit
                </button>-->

    <h2>
        <i class="fa fa-bullhorn"></i>
        Reports
    </h2>
    <div class="media-wrapper">
        <div class="media">
            <i class="fa fa-file-o img"></i>
            <div class="bd">
                <a href="#">Fire at Tangono, Risal</a>
            </div>
        </div>
        <div class="media">
            <i class="fa fa-file-o img"></i>
            <div class="bd">
                <a href="#">Vehicular Accident at Markino Highway</a>
            </div>
        </div>
        <div class="media">
            <i class="fa fa-file-o img"></i>
            <div class="bd">
                <a href="#">Epidemic aat Sitio Ngulongod</a>
            </div>
        </div>
        <div class="media">
            <i class="fa fa-file-o img"></i>
            <div class="bd">
                <a href="#">Flood at Sitio Batumbuhalani</a>
            </div>
        </div>
    </div>
</div>

<span id="sidebar-toggle">
    <i class="fa fa-chevron-left"></i>
</span>

<header>
    <img class="logo" src="images/logo.png" alt="Alisto.PH">
    <input id="pac-input" type="text"
           placeholder="Enter location">
    <ul class="menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Agency</a></li>
        <li>
            <a href="#">
                Log out
            </a>
        </li>
        <li>
            <button>
                <i class="fa fa-bullhorn"></i>
                Report Incident
            </button>
        </li>
    </ul>
</header>